/* BASIC CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
/* UTILITY CLASSES START HERE */
.coffeeTitle {
  color: white;
  background-color: hsl(0, 59%, 41%);
}
.coffeeItems {
  color: white;
  background-color: hsl(0, 59%, 70%);
}
.coffeeCard {
  color: black;
  background-color: beige;
}
/* UTILITY CLASSES END HERE */
hr {
  height: 10px;
  background-color: black;
}
.food-details {
  width: 100%;
  display: grid;
  background-color: aqua;
  place-self: center;
  place-items: center;
  row-gap: 10px;
  /* Need to check its utility */
}
.food-details summary {
  width: 80%;
  text-align: center;
  place-self: center;
  padding: 2rem;
}
.food-item {
  width: 80%;
}
.food-item summary {
  width: 100%;
  text-align: left;
  padding: 1rem;
}
.card {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}
.timeQ {
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  place-content: center;
}
.price span {
  font-weight: 600;
}
.price,
.orderSize,
.add,
.add button {
  font-size: 1rem;
  place-content: center left;
  width: 100%;
}
.timeA {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 1rem;
  place-content: center right;
}
.price {
  grid-column-start: 1;
  grid-column-end: 2;
}
.orderSize {
  grid-column-start: 1;
  grid-column-end: 2;
}
.add {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.fig {
  width: max-content;
  place-self: center left;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}

.fig img {
  place-content: center left;
  display: block;
  height: 150px;
  width: 150px;
}
.add button {
  height: 100%;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 2px 5px grey;
  outline-color: transparent;
  cursor: pointer;
}
.add button:active,
.orderSize:active {
  background-color: hsl(0, 0%, 90%);
  -webkit-tap-highlight-color: transparent;
}
.remarks,
.orderSize {
  border: 2px dashed gray;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}