/*CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red;
  background-color: hsla(0, 100%, 50%, 0.1); */
}
img {
  display: block;
}
/* || VARIABLES */
:root {
  --COFFEE-TAB-COLOR: hsl(30, 53%, 50%);
  --COFFEE-ITEM-COLOR: hsl(30, 53%, 70%);
  --COFFEE-CARD-COLOR: hsl(30, 53%, 90%);

  --SNACKS-TAB-COLOR: hsl(343, 13%, 50%);
  --SNACKS-ITEM-COLOR: hsl(343, 13%, 70%);
  --SNACKS-CARD-COLOR: hsl(343, 13%, 90%);

  --WATER-TAB-COLOR: hsl(144, 15%, 50%);
  --WATER-ITEM-COLOR: hsl(144, 15%, 70%);
  --WATER-CARD-COLOR: hsl(144, 15%, 90%);

  --HOME-MENU-BUTTON-COLOR: pink;
  --HOME-FEEDBACK-BUTTON-COLOR: hsl(0, 0%, 80%);
  --ADD-BUTTON-COLOR: white;

  --CARD-BORDER-COLOR: gray;
}

/* UTILITY CLASSES START HERE */
.coffeeTitle {
  color: white;
  background-color: var(--COFFEE-TAB-COLOR);
}
.coffeeItems {
  color: #000;
  background-color: var(--COFFEE-ITEM-COLOR);
}
.coffeeCard {
  color: black;
  background-color: var(--COFFEE-CARD-COLOR);
}
.snacksTitle {
  color: white;
  background-color: var(--SNACKS-TAB-COLOR);
}
.snacksItems {
  color: black;
  background-color: var(--SNACKS-ITEM-COLOR);
}
.snacksCard {
  color: black;
  background-color: var(--SNACKS-CARD-COLOR);
}
.waterTitle {
  color: white;
  background-color: var(--WATER-TAB-COLOR);
}
.waterItems {
  color: #000;
  background-color: var(--WATER-ITEM-COLOR);
}
.waterCard {
  color: #000;
  background-color: var(--WATER-CARD-COLOR);
}
/* UTILITY CLASSES END HERE */

/* ////////////////////////HOMEPAGE STYLE STARTS////////////////////////*/
.home-body {
  display: grid;
  place-items: center;
  position: relative;
}
.home-header {
  width: 100%;
}
.home-header h1 {
  position: absolute;
  left: -100000px;
}
.home-header img {
  height: 200px;
  width: 200px;
  place-self: center;
}
.home-main {
  width: 100%;
  -webkit-tap-highlight-color: hsl(0, 0%, 40%, 0.5);
}
.home-main :is(.feedback, .menu) {
  background-color: var(--HOME-MENU-BUTTON-COLOR);
  border-radius: 40px;
  color: #000;
  font-size: 2rem;
  height: 100%;
  max-width: 500px;
  padding: 1rem;
  place-self: center;
  text-align: center;
  width: 80%;
}
.home-main .feedback {
  background-color: var(--HOME-FEEDBACK-BUTTON-COLOR);
}
.home-main a:any-link {
  text-decoration: none;
}
.home-footer {
  place-items: center;
  width: 100%;
}
.home-footer .home-nav {
  column-gap: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
/* ////////////////////////HOMEPAGE STYLE ENDS//////////////////////// */

/* ////////////////////////MENU PAGE STYLE STARTS//////////////////////// */
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  position: relative;
}
.menu-header {
  align-items: center;
  display: flex;
  flex-flow: column;
}
.menu-header h1 {
  position: absolute;
  left: -1000000px;
}
.menu-backToTop {
  bottom: 20px;
  position: fixed;
  right: 20px;
  z-index: 2;
}
.food-details {
  background-color: white;
  display: grid;
  place-items: center;
  place-self: center;
  width: 100%;
}
.food-details summary {
  font-size: 2rem;
  padding: 2rem;
  place-self: center;
  text-align: center;
  width: 100%;
}
.food-item {
  box-shadow: 0px 0px 10px black;
  width: 90%;
}
.food-item summary {
  font-size: 2rem;
  padding: 1rem;
  text-align: left;
  width: 100%;
}
.card {
  border: 7px dashed var(--CARD-BORDER-COLOR);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, 1fr);
  padding: 1rem;
}
.timeQ {
  font-size: 1rem;
  font-weight: 600;
  place-content: center;
  width: 100%;
}
.price span {
  font-weight: 600;
}
.price,
.orderSize,
.add button {
  font-size: 1rem;
  place-content: center left;
  width: 100%;
}
.timeA {
  font-size: 1rem;
  grid-column-end: 3;
  grid-column-start: 2;
  place-content: center right;
}
.price {
  grid-column-start: 1;
  grid-column-end: 2;
}
.orderSize {
  grid-column-start: 1;
  grid-column-end: 2;
}
.add {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.fig {
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-row-start: 2;
  place-self: center left;
  width: max-content;
}

.fig img {
  border-radius: 10%;
  display: block;
  height: 150px;
  place-content: center left;
  width: 150px;
}
.add {
  display: grid;
  place-items: center;
}
.add button {
  background-color: var(--ADD-BUTTON-COLOR);
  border-radius: 20px;
  border: none;
  box-shadow: 0px 2px 5px grey;
  cursor: pointer;
  font-size: 1.2rem;
  height: 100%;
  outline-color: transparent;
  width: 80%;
}
.remarks,
.orderSize {
  background-color: transparent;
  border-radius: 10px;
  border: 2px dashed gray;
  cursor: pointer;
  font-size: 1rem;
  padding-left: 0.2rem;
  text-align: left;
}

/* START */
/* CODE FOR CHANGING DETAILS SUMMARY ICON */
summary {
  cursor: pointer;
  list-style: none;
  position: relative;
}
summary::before {
  background-image: url("../Images/Icons/plus-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 40px;
  margin-right: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
}
details[open] > summary::before {
  background-image: url("../Images/Icons/cross-icon.png");
}
/* CODE FOR CHANGING DETAILS SUMMARY ICON */
/* END */
details {
  -webkit-tap-highlight-color: hsl(0, 0%, 40%, 0.5);
}
/* ////////////////////////MENU PAGE STYLE ENDS//////////////////////// */
