/* BASIC CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}
/* UTILITY CLASSES START HERE */

/* UTILITY CLASSES END HERE */

.food-details {
  /* width: 300px; */
  display: grid;
  place-items: center;
  background-color: aqua;
  place-self: center;
}
.food-item {
  /* width: 300px; */
}
.card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  gap: 5px;
  background-color: pink;
}
.time {
  grid-column-start: 1;
  grid-column-end: 3;
}
.price {
  grid-column-start: 1;
  grid-column-end: 2;
}
.orderSize {
  grid-column-start: 1;
  grid-column-end: 2;
}
.add {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 6;
}
.img {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 6;
}
